<div class="d-flex justify-content-center align-items-center container-fluid bg-body-tertiary">
  <ul class="pagination m-0 py-2">
    <!-- PREVIOUS -->
    <li class="page-item">
      <a (click)="jumpToPage(this.currentResponse.page - 1)" role="button" class="page-link"> Previous </a>
    </li>

    <!-- PAGES -->
    @for(page of getPaginatorRange(); track page) {
    <li [class.active]="this.isCurrentPage(page)" class="page-item">
      <a role="button" (click)="jumpToPage(page)" class="page-link">{{ page }}</a>
    </li>
    }

    <!-- NEXT -->
    <li class="page-item">
      <a role="button" class="page-link" (click)="jumpToPage(this.currentResponse.page + 1)">Next</a>
    </li>
  </ul>
</div>
