@import 'bootstrap/scss/bootstrap-utilities';
@import 'bootstrap/scss/_variables';

:host {
  .container-fluid {
    max-width: map-get($grid-breakpoints, 'xl');

    .form-control {
      width: 15rem;

      @include media-breakpoint-down(lg) {
        width: 100%;
      }
    }
  }
}
