@if(isLoggedIn()) {
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <div class="container-fluid">
    <a routerLink="/home" class="navbar-brand"> Movies </a>

    <button (click)="toggleCollapse()" class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [class.collapse]="isCollapsed" class="navbar-collapse">
      <ul class="navbar-nav mb-2 mb-lg-0 w-100">
        @for(navbarElement of navbarElements; track navbarElement.name) {
        <li class="nav-item">
          <a
            [routerLink]="navbarElement.route"
            [class.active]="isActive(navbarElement)"
            class="nav-link"
          >
            {{ navbarElement.name }}
          </a>
        </li>
        }

        <li class="nav-item py-2 py-lg-0 ps-lg-2">
          <form
            [formGroup]="searchForm"
            (ngSubmit)="searchForTerm()"
            #searchFormElement="ngForm"
            class="d-flex"
            role="search"
          >
            <input
              [ngClass]="{ 'is-invalid': hasSearchError() }"
              (focus)="setFocus(true)"
              (blur)="setFocus(false)"
              formControlName="search"
              id="search"
              class="form-control me-2"
              type="search"
              placeholder="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </li>

        <li class="nav-item ms-auto py-2 py-lg-0 d-flex align-items-center">
          <a
            [ngClass]="iconClass$ | async"
            (click)="toggleDarkMode()"
            role="button"
            class="bi text-body"
          ></a>

          <a class="text-decoration-none text-reset px-2">
            {{ getUsername() }}
          </a>

          <button
            [disabled]="loggingOut"
            (click)="logout()"
            class="btn btn-danger"
            type="button"
          >
            @if(loggingOut) {
            <span class="spinner-border spinner-border-sm mr-1"></span>
            } Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
}
