:host {
  .card {
    transition: filter ease-in-out 200ms;
    height: 34rem;

    &:hover {
      filter: brightness(80%);
    }

    .card-image {
      max-height: 60%;
      height: 60%;

      img {
        object-fit: cover;
      }
    }
  }

}
