<div *ngIf="!isLoading; else loading">
  <div *ngIf="movies.length !== 0">

    <h1 *ngIf="onSearchPage()" class="d-flex justify-content-center m-3 mb-1">
      {{currentResponse.total_results}} search result(s)
    </h1>

    <div class="row row-cols-1 row-cols-lg-5 row-cols-md-3 row-cols-sm-2 g-4 m-1">
      <div *ngFor="let movie of movies" class="col">
        <app-movie-card [movie]="movie"></app-movie-card>
      </div>
    </div>

    <app-paginator [currentResponse]="currentResponse"></app-paginator>

  </div>
  <div *ngIf="(movies.length === 0)">
    <h1 class="d-flex justify-content-center m-3">No results!</h1>
  </div>
</div>

<ng-template #loading>
  <div class="d-flex justify-content-center m-3">
    <span class="spinner-border"></span>
  </div>
</ng-template>
