p {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10rem);
  justify-content: space-between;
  grid-gap: 0.1rem;
}

.grid-item {
  margin: 1rem;
  height: 12rem;
  background-color: black;
  position: relative;

  .image {
    max-height: 100%;
    max-width: 100%;

    cursor: pointer;

    transition: opacity 250ms ease-out 100ms;
    position: absolute;
    top: 0;
    left: 0;
  }

  .text {
    z-index: 100;
    color: white;

    transition: opacity 250ms ease-out 100ms;
    position: absolute;
    left: 1rem;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;

    opacity: 0.0;
    pointer-events: none;
  }

  .image:hover {
    opacity: 0.5;
  }
  .image:hover ~ .text {
    opacity: 1.0;
  }
}
