<ng-container *ngIf="!isLoading; else loading">
  <div *ngIf="movies.length !== 0; else emptyList" class="d-flex flex-column h-100">

    <div class="flex-shrink-1 overflow-auto">
      <h1 *ngIf="onSearchPage()" class="d-flex justify-content-center m-3 mb-1">
        {{ currentResponse.total_results }} search result(s)
      </h1>

      <div class="row row-cols-1 row-cols-lg-5 row-cols-md-3 row-cols-sm-2 m-0 pb-3">
        <div *ngFor="let movie of movies" class="col pt-3">
          <app-movie-card [movie]="movie" />
        </div>
      </div>
    </div>

    <app-paginator [currentResponse]="currentResponse" />

  </div>

  <ng-template #emptyList>
    <h1 class="d-flex justify-content-center m-3">No results!</h1>
  </ng-template>
</ng-container>

<ng-template #loading>
  <div class="d-flex justify-content-center align-items-center h-100">
    <span class="spinner-border"></span>
  </div>
</ng-template>
