/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url('app/images/colorful-striped-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
}
