@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

// Overrides
@import 'app/styles/scrollbar-override.scss';

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}
