<div #modal class="modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <!-- CONTENT -->
    @defer(when movie()) { @if(movie(); as movie) {

    <div class="modal-content">
      <!-- HEADER -->
      <div class="modal-header">
        <h3 class="modal-title">{{ movie.original_title }}</h3>
        <button
          (click)="closeDialog()"
          type="button"
          class="btn-close border-0"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- BODY -->
      <div class="modal-body my-2">
        @if(movie.backdrop_path) {
        <div class="w-100 mb-4 ratio ratio-16x9 border rounded">
          <img
            #backdropImage
            [src]="backdropUrl()"
            [alt]="movie.original_title"
            class="rounded w-100"
          />
        </div>
        }

        <div class="card bg-body-tertiary mb-4">
          <div class="card-body">
            <h5 class="card-title">Overview</h5>
            <p class="card-text">{{ movie.overview }}</p>
            @if(imdbLink(); as imdbLink) {
            <a [href]="imdbLink" target="_blank">IMDB page</a>
            }
          </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card bg-body-tertiary mb-3 h-100">
              <div class="card-body">
                <h5 class="card-title">Genres</h5>
                <p class="card-text">{{ genreString() }}</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card bg-body-tertiary mb-3 h-100">
              <div class="card-body">
                <h5 class="card-title">Release</h5>
                <p class="card-text">
                  {{ releaseYear() | releaseDate : 'yyyy' }}
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card bg-body-tertiary mb-3 h-100">
              <div class="card-body">
                <h5 class="card-title">Length</h5>
                <p class="card-text">{{ lengthString() }}</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card bg-body-tertiary mb-3 h-100">
              <div class="card-body">
                <h5 class="card-title">Countries</h5>
                <p class="card-text">{{ movieCountries() }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- FOOTER -->
      <div class="modal-footer">
        <button
          (click)="closeDialog()"
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>

    } } @placeholder {

    <div class="modal-content">
      <!-- SKELETON HEADER -->
      <div class="modal-header">
        <h3
          class="modal-title skeleton bg-body-tertiary rounded w-50 loading border"
        >
          -
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          disabled
        ></button>
      </div>

      <!-- SKELETON BODY -->
      <div class="modal-body my-2">
        <div
          class="rounded w-100 mb-4 ratio ratio-16x9 bg-body-tertiary loading border"
        ></div>

        <div class="card bg-body-tertiary mb-4 loading">
          <div class="card-body">
            <h5 class="card-title skeleton bg-body rounded w-50 border">-</h5>
            <p class="card-text skeleton bg-body rounded w-25 border">-</p>
            <a class="skeleton bg-body rounded border">IMDB page</a>
          </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card bg-body-tertiary mb-3 h-100 loading">
              <div class="card-body">
                <h5 class="card-title skeleton bg-body rounded w-50 border">
                  Genres
                </h5>
                <p class="card-text skeleton bg-body rounded w-25 border">-</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card bg-body-tertiary mb-3 h-100 loading">
              <div class="card-body">
                <h5 class="card-title skeleton bg-body rounded w-50 border">
                  Release
                </h5>
                <p class="card-text skeleton bg-body rounded w-25 border">-</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card bg-body-tertiary mb-3 h-100 loading">
              <div class="card-body">
                <h5 class="card-title skeleton bg-body rounded w-50 border">
                  Length
                </h5>
                <p class="card-text skeleton bg-body rounded w-25 border">-</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card bg-body-tertiary mb-3 h-100 loading">
              <div class="card-body">
                <h5 class="card-title skeleton bg-body rounded w-50 border">
                  Countries
                </h5>
                <p class="card-text skeleton bg-body rounded w-25 border">-</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- SKELETON FOOTER -->
      <div class="modal-footer">
        <button
          (click)="closeDialog()"
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          disabled
        >
          Close
        </button>
      </div>
    </div>

    }
  </div>
</div>
